.content
  .main-header
    %h2 New Locality
    %em create a new locality
  .col-md-8
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        = render partial: 'form'
