<div class="content">
	<div class="main-header">
		<h2>New Locality</h2>
		<em>create a new locality</em>
	</div>
	<br />
	<div class="col-md-8">
		<!-- New Locality form -->
		<div class="widget">
			<div class="widget-header"><h3><i class="fa fa-edit"></i></h3></div>
			<div class="widget-content">
				<!-- Locality form partial -->
				<%= render partial: 'form' %>
			</div>
		</div>
	</div>
</div>
