%h2 Upcoming Events
%em information on up-coming events
.row
  .col-md-9
    #events.panel-group
      - if events.any?
        = render partial: 'events/event', collection: events
      - else
        %center There aren't any up-coming events.
