<div>
  <label>Registered hospitality units</label>
  <%= form_for @hospitalities, url: { controller: 'events/hospitalities', action: 'assigns'  } do |f| %>
    <%= select('event', 'hospitality_id', list_unassigned_lodgings.collect { |h| [h.name, h.id] }, {include_blank: true }) %>
    <%= f.submit 'Add' %>
  <% end %>
</div>
