.content
  .main-header
    %h2 Event Localities
    %em
      manage localities registered for #{@event.title}
  .col-md-12
    = render partial: "table", locals: {title: "Localities pariticipating in event", event: @event, localities: @localities, button_action: 'show'}
  .col-md-12
    = render partial: "table", locals: {title: "Localities not pariticipating in event", event: @event, localities: @other_localities, button_action: 'new'}
  .col-md-12
    = link_to 'Back', event_path(@event), class: 'btn btn-default'
