@import url(bootstrap.css);
@import url(main.css);
@import url(font-awesome.css);
/* line 6, /Users/Hector/code/ruby-projects/ypw-reg/app/assets/stylesheets/application.css.scss */
.site-logo {
  margin: 5px 0px;
}

/* line 11, /Users/Hector/code/ruby-projects/ypw-reg/app/assets/stylesheets/application.css.scss */
nav.a:hover {
  color: white;
}

/* line 13, /Users/Hector/code/ruby-projects/ypw-reg/app/assets/stylesheets/application.css.scss */
span.nav {
  color: white;
}

/* line 18, /Users/Hector/code/ruby-projects/ypw-reg/app/assets/stylesheets/application.css.scss */
.table th.text-right, .table td.text-right {
  text-align: right;
  width: 27%;
  padding-right: 3%;
}

/* line 24, /Users/Hector/code/ruby-projects/ypw-reg/app/assets/stylesheets/application.css.scss */
.form-group {
  padding-bottom: 30px;
}
