<div class="content">
  <div class="main-header">
    <h2>Edit Event</h2>
    <em>Manage this event's details</em>
  </div>
  <br />
  <div class="col-md-8">
    <!-- EDIT EVENT FORM -->
    <div class="widget">
      <div class="widget-header"><h3><i class="fa fa-edit"></i></div>

      <div class="widget-content">
        <!-- Event form partial -->
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
