
<div class="col-md-8">
	<!-- EDIT EVENT FORM -->
	<div class="widget">
		<div class="widget-header"><h3><i class="fa fa-edit"></i></div>

		<div class="widget-content">
			<!-- Event form partial -->
			<%= render 'form' %>
		</div>

		<div class="widget-footer">
			<%= link_to 'Show', @event %> |
			<%= link_to 'Back', events_path %>
		</div>
	</div>
</div>
