.content
  .main-header
    %h2 Edit Event
    %em Manage this event's details
  %br/
  .col-md-8
    / EDIT EVENT FORM
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        / Event form partial
        = render 'form'
