.content
  .main-header
    %h2 NEW EVENT
    %em create a new event
  %br/
  .col-md-8
    / NEW EVENT FORM
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        / Event form partial
        = render partial: 'form'
