<h1>New event</h1>

<div class="row">
	<div class="col-md-8">
		<%= form_for @event do |f| %>
			<div class="form-group">
				<% f.label :title %>
				<% f.text_field :title, autofocus: true, class: 'form-control', placeholder: "Enter a Title"  %>
			</div>
			<hr>
			<% f.fields_for :locations do |loc| %>
				<div class="form-group">
					<% loc.label :name %>
					<% loc.text_field :name, class: 'form-control', placeholder: "Enter a location name" %>
				</div>
				<div class="form-group">
					<% loc.label :description %>
					<% loc.text_field :description, class: 'form-control' %>
				</div>
				<div class="form-group">
					<% loc.label :address1%>
					<% loc.text_field :address1, class: 'form-control' %>
				</div>
				<div class="form-group">
					<% loc.label :address2 %>
					<% loc.text_field :address2, class: 'form-control' %>
				</div>
				<div class="form-group">
					<% loc.label :city %>
					<% loc.text_field :city, class: 'form-control' %>
				</div>
				<div class="form-group">
					<% loc.label :state_abbrv %>
					<% loc.select(:state_abbrv, options_for_select(Location::STATE_LIST), class: 'form-control') %>
				</div>
				<div class="form-group">
					<% loc.label :zipcode %>
					<% loc.text_field :zipcode, class: 'form-control' %>
				</div>
				
			<% end %>
			<%= f.submit "Submit", class: 'btn btn-success' %>
		<% end %>

<%= link_to 'Back', events_path %>
