<div class="content">
  <div class="main-header">
    <h2>Edit Registration</h2>
    <em>Registration details for <%= @registration.user.name %></em>
  </div>
  <br />

  <div class="col-md-8">
    <!-- EDIT REGISTRATION FORM -->
    <div class="widget">
      <div class="widget-header"><h3><i class="fa fa-edit"></i></div>
      <div class="widget-content">
        <!-- Registration form partial -->
        <%= render partial: 'form', locals: { event: @event, registration: @registration } %>
      </div>
    </div>
  </div>
</div>
