.content
  .main-header
    %h2 Edit Registration
    %em
      Registration details for #{registration.user_name}
  %br/
  .col-md-8
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        = render partial: 'form', locals: {event: event, registration: registration, event_lodgings: event_lodgings}
