.content
  .main-header
    %h2 New Registration
    %em
      Register for #{event.name}
  %br/
  .col-md-8
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        = render partial: 'form', locals: {event: event, registration: registration}
