console.log('in index.js.erb');
alert('made it to index.js.erb');
// $('#participating_localities_content')
//   .html('#{j render partial: 'views/events/hospitality_assignments/hospitality_units_partial'});
$('#participating_localities_content').html('<tr><td>Newington<td>4</td><td>6</td></tr>')
