console.log('in index.js.erb');
alert('made it to index.js.erb');
\// $('#participating_localities_content')
\//   .html('#{j render partial: 'views/events/event_lodging_assignments/event_lodging_units_partial'});
$('#participating_localities_content').html('
%tr>
  %td Newington
  %td 4
  %td 6
')
