// Firefox fix: http://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.site-logo {
  margin: 5px 0px;
}

//links on nav for unauthenticated users
nav.a:hover {color:white;}

span.nav {
  color: white;
}

//Tables
.table thead tr {
  font-weight: bold;
}

//Forms
.table th.text-right, .table td.text-right {
  text-align: right;
  width: 27%;
  padding-right: 3%;
}

.form-group {
  padding-bottom: 30px;
}
