- if form_errors.any?
  .callout.callout-danger
    - errors = pluralize(form_errors.count, "error")
    %h4= "#{errors} prohibited this #{name} from being saved:"
    %ul
      - form_errors.full_messages.each do |msg|
        %li= msg
