.content
  .main-header
    %h2 Edit Lodging
    %em manage details for this lodging
  %br/
  .col-md-8
    / Edit Lodging form
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        / Locality form partial
        = render partial: 'form'
