	<div class="main-header">
		<h2>NEW LODGING</h2>
		<em>create a new lodging</em>
	</div>
	<br />
	
	<div class="col-md-8">
		<!-- NEW LODGING FORM -->
		<div class="widget">
			<div class="widget-header"><h3><i class="fa fa-edit"></i></h3></div>
			<div class="widget-content">
				<!-- Event form partial -->
				<%= render partial: 'form' %>
			</div>
		</div>
	</div>
</div>
