.content
  .main-header
    %h2 New Location
    %em create a new location
  %br/
  .col-md-8
    / New Location form
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        = render partial: 'form'
