<!-- TODO: Create widget content for non-admins -->
                <%# <li class="data-row">
                <%#   <%= event_widget_data_name('Capacity') %>
                <%#   <span class="data-value">
                <%#     <%= data_value_ratio(@chart_values, 'Capacity') %>
                <%#     <%= data_value_progress_div(@chart_values, 'Capacity') %>
                <%#   </span>
                <%# </li>
