              <% if current_user.role == 'admin' %>
                <h5 class="label label-default"><i class="fa fa-info-circle"></i> Global stats</h5>
                <ul class="list-unstyled list-info-sidebar bottom-30px">
                  <li class="data-row">
                    <span class="data-name">Registered users</span>
                    <span class="data-value"><%= User.all.count %></span>
                  </li>

                  <li class="data-row">
                    <span class="data-name">Localities</span>
                    <span class="data-value"><%= Locality.all.count %></span>
                  </li>

                  <li class="data-row">
                    <span class="data-name">Event Locations</span>
                    <span class="data-value"><%= Location.all.count %></span>
                  </li>
                  <li class="data-row">
                    <span class="data-name">Lodgings</span>
                    <span class="data-value"><%= Lodging.all.count %></span>
                  </li>
                </ul>
              <% end %>
