%section.content
  .row
    .col-md-6
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .box.box-primary
        .box-header.with-border
          %h1.box-title Edit User
        .box-body
          = form_for(*@form_params) do |f|
            = devise_error_messages!
            = render 'form', f: f
